/*-- scss:functions --*/

/*-- scss:defaults --*/
// fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$font-family-sans-serif: "Bebas Neue", sans-serif !default;

// colors
$color-palette1: #fff;
$color-palette2: #fff;
$color-palette3: #fff;
$color-palette4: #fff;
$color-palette5: #fff;

// body
$body-color: $color-palette1;

// link
$link-color: $color-palette2;

/*-- scss:rules --*/
#title-slide {
    .title {
        font-size: 350px;
        color: $color-palette1;
    }
    .subtitle {
        font-size: 40px;
        color: $color-palette1;
    }
    .quarto-title-author-name {
        font-size: 40px;
        color: $color-palette1;
    }
    .date {
        font-size: 40px;
        color: $color-palette1;
    }
}

ul li {
    list-style-type: "\2013";
    padding-left: 0.5em;
}

.reveal .footer {
    // text-align: left !important;
    color: #fff;
    // padding-left: 60px;
}

.reveal p {
    text-align: center;
    color: #d5d4d4;
    text-shadow: #090014 2px 0 10px;
}
